<h1><%= @visit.country %></h1>

<p><%= @visit.image %></p>

<p><%= @visit.article_h %></p>

<p><%= @visit.article_b %></p>

<p><%= @visit.wiki_h %></p>

<p><%= @visit.wiki_b %></p>

<% end %>













