<h1><%= country %></h1>
<h3>Home to Middle Earth</h3>
	
	<href=<img src=<%= image %> alt="New Zealand Country Side" height=700px width=494px></a>
	
<p><%= article_h %></p>
<p><%= article_b %></p>

<p><%= wiki_h %></p>
<p><%= wiki_b %></p>